<!DOCTYPE html>
<html>
  <head>
    <title>Contact</title>
    <meta charset="UTF-8">
  </head>
  <body>
      
    <div>Contact Novel</div>
    <ul>
      <li><a href="/contacts">Index</a></li>
      <li><a href="/contacts/new">New</a></li>
    </ul>

    <div class="contact contact-index">
      <h2>Index</h2>
      <ul>
        <% contacts.forEach(function(contact) { %>
          <li>
            <a href="/contacts/<%= contact.name %>"><%= contact.name %></a> <!-- 1 -->
            / <a href="/contacts/<%= contact.name %>"><%= contact.email %></a> <!-- 1 -->
          </li>
        <% }) %>
      </ul>
    </div>
  </body>
</html>